body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.6rem;
  background: #dce1de;
  color: rgb(241, 241, 241);
}
.app {
  width: 70%;
  min-width: 400px;
  max-width: 800px;
  background: #9cc5a1;
  border-radius: 14px;
  padding: 20px 40px;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.307);
  cursor: pointer;
  transition: 0.2s;
}
.app:hover {
  transform: scale(1.01);
}

#header {
  color: #216869;
}

#source {
  font-size: 1.2rem;
  background-color: #49a078;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  padding: 2px 4px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.253);
}

#source:hover {
  background-color: #3f8a67;
}
